.notDone {
}

.done {
	text-decoration: line-through;
}

.beforeClicked {	
}

.afterClicked {
	display: none;
}

.loading {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}   

.column {
  height:68vh;
  overflow-y:auto;
}
.calendar-size {
	height: 76vh;
}

.default {
}

.blank {
	border-color: red;
}

.itemClass {
	word-wrap: break-word;
}

.no-gutters {
  padding-right:0;
  padding-left:0;
}
